@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&family=Righteous&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Oxygen", sans-serif;
  font-size: 1.3vw;
}

body {
  background-color: #f7efde;
}

.presentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4vw;
}
.presentation .name_and_age h1 {
  font-size: 8vw;
  font-weight: 900;
  font-family: "Righteous", cursive;
}
.presentation p {
  text-align: center;
  margin: 0 2vw;
}
.presentation .contact {
  display: flex;
  align-items: center;
  gap: 1vw;
}
.presentation .contact a {
  display: flex;
  align-items: center;
  color: #000;
}
.presentation .contact a img {
  width: 2.22vw;
  margin-right: 0.3vw;
}
.presentation .contact p {
  font-size: 1vw;
}
.presentation .animated-arrow {
  transform: translateY(-10%);
}
.presentation .animated-arrow path {
  fill: none;
  stroke: #000000;
  stroke-width: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 0, 1000;
  transition: all 0.3s;
  animation: draw-arrow 3s forwards;
}

.item {
  position: relative;
  width: 100%;
  opacity: 0;
  transition: opacity 1s ease-out;
  overflow: hidden;
  cursor: pointer;
}
.item:before {
  position: absolute;
  content: " ";
  height: 0.2vw;
  background: black;
  left: 0;
  bottom: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 1s ease-out;
}
.item.visible {
  opacity: 1;
}
.item.visible:before {
  transform: scaleX(1);
}
.item.visible .item__content {
  transform: translateY(0);
}
.item:hover .item__content {
  color: white;
  text-shadow: 0.1vw 0px 0px #000, 0px 0.1vw 0px #000, -0.1vw 0px 0px #000, 0px -0.1vw 0px #000;
}
.item:hover .item__background {
  background-size: 120%;
}
.item:hover .item__background:after {
  transform: translateY(-100%);
}
.item .item__background {
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  z-index: -1;
  transition: background-size 1s ease-out;
}
.item .item__background:after {
  content: "";
  position: absolute;
  inset: 0;
  background: #f7efde;
  transition: transform 0.5s ease-out;
}
.item .item__content {
  display: flex;
  color: #000;
  width: 100%;
  padding: 0 3vw;
  height: 14vw;
  align-items: center;
  transform: translateY(40%);
  transition: transform 1s ease-in;
}
.item .item__content h2 {
  font-family: "Righteous", cursive;
  font-size: 6vw;
}
.item .item__content .item__metas {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-top: 1.5vw;
}
.item .item__content .item__metas span {
  font-weight: 300;
  font-size: 1vw;
  text-transform: uppercase;
  letter-spacing: 0.1vw;
}
.item .item__content .item__metas strong {
  font-weight: 700;
  font-size: 1.5vw;
}
.item .item__content .item__number {
  font-weight: 500;
  text-decoration: underline;
  margin-top: -2.8vw;
  margin-right: 2vw;
  font-size: 2vw;
}

#scroll-container {
  height: 100%;
  overflow: hidden;
}

@keyframes draw-arrow {
  0% {
    stroke-dasharray: 0, 1000;
    fill: rgba(0, 0, 0, 0);
  }
  20% {
    fill: rgba(0, 0, 0, 0);
  }
  80% {
    stroke-dasharray: 1000, 1000;
    fill: rgba(0, 0, 0, 0.4784313725);
  }
  100% {
    fill: #000;
  }
}

/*# sourceMappingURL=styles.css.map */
